node_modules
.DS_Store
screenshots
pnpm-lock.json
pnpm-lock.yaml
package-lock.json
certificates
test.html
deploy.sh
server.sh

info.md

apps/server/config/dev.js
apps/server/config/prod.js
apps/server/config/test.js